<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">LOGO</a>
        </div>
        <div class="collapse navbar-collapse" style="padding-left: 180px;">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">商品管理</a></li>
                <li><a href="#">系统设置</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a>欢迎您,<%=username%></a></li>
                <li><a href="/admin/logout">安全退出</a></li>
            </ul>
        </div>
    </div>
</nav>